
<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('../layouts/Header')%>
<body class="biolife-body">

  <%- include('../layouts/Navigation')%>


    <!--Hero Section-->
    <div class="hero-section hero-background">
        <h1 class="page-title">ຜັກ, ໝາກໄມ້ສົດ</h1>
    </div>

    <!--Navigation section-->
    <div class="container">
        <nav class="biolife-nav">
            <ul>
                <li class="nav-item"><a href="/" class="permal-link">ໜ້າຫຼັກ</a></li>
                <li class="nav-item"><a href="/veggies" class="permal-link">ຜັກທັງໝົດທີມີ</a></li>
                <li class="nav-item"><span class="current-page">ຜັກທັງໝົດທີມີ</span></li>
            </ul>
        </nav>
    </div>

    <div class="page-contain category-page left-sidebar">
        <div class="container">
            <div class="row">
                <!-- Main content -->
                <div id="main-content" class="main-content col-lg-9 col-md-8 col-sm-12 col-xs-12">

                    <div class="block-item recently-products-cat md-margin-bottom-39">
                        <!-- <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":0,"slidesToShow":5, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 3}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin": 10}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":10 }}]}' >
                            <li class="product-item">
                                <div class="contain-product layout-02">
                                    <div class="product-thumb">
                                        <a href="#" class="link-to-product">
                                            <img src="/frontend/assets/images/products/p-09.jpg" alt="dd" width="170px" height="170px" class="product-thumnail">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <b class="categories">ໝາກໄມ້ສົດ</b>
                                        <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                                        <div class="price">
                                            <ins><span class="price-amount"><span class="currencySymbol">Kip </span>8500.00</span></ins>
                                            <del><span class="price-amount"><span class="currencySymbol">Kip </span>9500.00</span></del>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="product-item">
                                <div class="contain-product layout-02">
                                    <div class="product-thumb">
                                        <a href="#" class="link-to-product">
                                            <img src="/frontend/assets/images/products/p-02.jpg" alt="dd" width="170px" height="170px" class="product-thumnail">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <b class="categories">ໝາກໄມ້ສົດ</b>
                                        <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                                        <div class="price">
                                            <ins><span class="price-amount"><span class="currencySymbol">Kip </span>8500.00</span></ins>
                                            <del><span class="price-amount"><span class="currencySymbol">Kip </span>9500.00</span></del>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="product-item">
                                <div class="contain-product layout-02">
                                    <div class="product-thumb">
                                        <a href="#" class="link-to-product">
                                            <img src="/frontend/assets/images/products/p-07.jpg" alt="dd" width="170px" height="170px" class="product-thumnail">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <b class="categories">ໝາກໄມ້ສົດ</b>
                                        <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                                        <div class="price">
                                            <ins><span class="price-amount"><span class="currencySymbol">Kip </span>85.00</span></ins>
                                            <del><span class="price-amount"><span class="currencySymbol">Kip </span>95.00</span></del>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="product-item">
                                <div class="contain-product layout-02">
                                    <div class="product-thumb">
                                        <a href="#" class="link-to-product">
                                            <img src="/frontend/assets/images/products/p-03.jpg" alt="dd" width="170px" height="170px" class="product-thumnail">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <b class="categories">ຜັກສົດ, ສະອາດ</b>
                                        <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                                        <div class="price">
                                            <ins><span class="price-amount"><span class="currencySymbol">Kip </span>85.00</span></ins>
                                            <del><span class="price-amount"><span class="currencySymbol">Kip </span>95.00</span></del>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="product-item">
                                <div class="contain-product layout-02">
                                    <div class="product-thumb">
                                        <a href="#" class="link-to-product">
                                            <img src="/frontend/assets/images/products/p-21.jpg" alt="dd" width="170px" height="170px" class="product-thumnail">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <b class="categories">ຜະລິດຕະພັນໝາກໄມ້ສົດ</b>
                                        <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                                        <div class="price">
                                            <ins><span class="price-amount"><span class="currencySymbol">Kip </span>85.00</span></ins>
                                            <del><span class="price-amount"><span class="currencySymbol">Kip </span>95.00</span></del>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul> -->
                    </div>

                    <div class="product-category list-style">

                        <div id="top-functions-area" class="top-functions-area" >
                            <div class="flt-item to-left group-on-mobile">
                                <span class="flt-title">Refine</span>
                                <a href="#" class="icon-for-mobile">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                                <div class="wrap-selectors">
                                    <form action="#" name="frm-refine" method="get">
                                        <span class="title-for-mobile">Refine Products By</span>
                                        <div data-title="Price:" class="selector-item">
                                            <select name="price" class="selector">
                                                <option value="all">Price</option>
                                                <option value="class-1st">Less than 5000 kip</option>
                                                <option value="class-2nd">5000-10000</option>
                                                <option value="class-3rd">10000-20000</option>
                                                <option value="class-4th">20000-45000</option>
                                                <option value="class-5th">45000-100000</option>
                                            </select>
                                        </div>
                                        <div data-title="Brand:" class="selector-item">
                                            <select name="brad" class="selector">
                                                <option value="all">Top brands</option>
                                                <option value="br2">Brand first</option>
                                                <option value="br3">Brand second</option>
                                                <option value="br4">Brand third</option>
                                                <option value="br5">Brand fourth</option>
                                                <option value="br6">Brand fiveth</option>
                                            </select>
                                        </div>
                                        <div data-title="Avalability:" class="selector-item">
                                            <select name="ability" class="selector">
                                                <option value="all">Availability</option>
                                                <option value="vl2">Availability 1</option>
                                                <option value="vl3">Availability 2</option>
                                            </select>
                                        </div>
                                        <p class="btn-for-mobile"><button type="submit" class="btn-submit">Go</button></p>
                                    </form>
                                </div>
                            </div>
                            <div class="flt-item to-right">
                                <span class="flt-title">Sort</span>
                                <div class="wrap-selectors">
                                    <div class="selector-item orderby-selector">
                                        <select name="orderby" class="orderby" aria-label="Shop order">
                                            <option value="menu_order" selected="selected">Default sorting</option>
                                            <option value="popularity">popularity</option>
                                            <option value="rating">average rating</option>
                                            <option value="date">newness</option>
                                            <option value="price">price: low to high</option>
                                            <option value="price-desc">price: high to low</option>
                                        </select>
                                    </div>
                                    <div class="selector-item viewmode-selector">
                                        <a href="/veggies" class="viewmode grid-mode"><i class="biolife-icon icon-grid"></i></a>
                                        <a href="/sidebar-veggies" class="viewmode detail-mode active"><i class="biolife-icon icon-list"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if (typeof vegetables !== 'undefinded') { %>
                            <div class="row">
                                <ul class="products-list">
                                    <% vegetables.forEach(function(vegetable) { %>
                                    <li class="product-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="contain-product pr-detail-layout">
                                            <div class="product-thumb">
                                                <a href="/sidebar-veggies/<%= vegetable.id %>" class="link-to-product">
                                                    <% if(vegetable.image == "") { %>
                                                        <img src="/images/noimage.png" width="270px" height="270px" alt="">
                                                    <% } else { %>
                                                        <img src="/frontend/images/vegetable/<%= vegetable._id %>/<%= vegetable.image %>" width="230px" height="230px" class="product-thumnail">
                                                    <% }%>
                                                </a>
                                            </div>
                                            <div class="info">
                                                <b class="categories"><%= vegetable.category.title %>-<%= vegetable.category.subtitle %></b>
                                                <h4 class="product-title"><a href="/sidebar-veggies/<%= vegetable.id %>" class="pr-name"><%= vegetable.name %></a></h4>
                                                <p class="excerpt">ສີ່ງດີໆທີພວກເຮົາຈະມອບໃຫ້ທ່ານ ແລະ ເພື່ອສຸຂະພາບຂອງທ່ານ ...</p>
                                                <div class="price">
                                                    <ins><span class="price-amount"><span class="currencySymbol"><%= vegetable.export_price %> </span>Kip</span></ins>
                                                    <del><span class="price-amount"><span class="currencySymbol">0 </span>Kip</span></del>
                                                </div>
                                                <div class="buttons">
                                                    <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                                    <a href="#" class="btn add-to-cart-btn">add to cart</a>
                                                    <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="advance-info">
                                                <ul class="list">
                                                    <li>ຜັກສົດຈາກສວນ, ຟາມອິນຊີ</li>
                                                    <li>ສະອາດ, ປອດສານຜິດ</li>
                                                    <li>ໄດ້ມາດຕະຖານຈາກ GAP ແລະ OA</li>
                                                </ul>
                                                <div class="shipping-info">
                                                    <!-- <p class="shipping-day">3-Day Shipping</p> -->
                                                    <!-- <p class="for-today">Pree Pickup Today</p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <% }) ;%>
                                </ul>
                            </div>
                            <% } else { %>
                                <div class="row">
                                    <ul class="products-list">
        
                                        <li class="product-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="contain-product pr-detail-layout">
                                                <div class="product-thumb">
                                                    <a href="#" class="link-to-product">
                                                        <img src="/frontend/assets/images/products/p-11.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <b class="categories">Fresh Fruit</b>
                                                    <h4 class="product-title"><a href="#" class="pr-name">Organic 10 Assorted Flavors Jelly Beans, 5.5 Oz</a></h4>
                                                    <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel maximus lacus. Duis ut mauris eget justo dictum tempus sed vel tellus.</p>
                                                    <div class="price">
                                                        <ins><span class="price-amount"><span class="currencySymbol">Kip </span>85.00</span></ins>
                                                        <del><span class="price-amount"><span class="currencySymbol">Kip </span>95.00</span></del>
                                                    </div>
                                                    <div class="buttons">
                                                        <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                                        <a href="#" class="btn add-to-cart-btn">add to cart</a>
                                                        <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                                <div class="advance-info">
                                                    <ul class="list">
                                                        <li>100% real fruit ingredients</li>
                                                        <li>All Sugar comes naturally</li>
                                                        <li>Non-GMO Project Verified</li>
                                                    </ul>
                                                    <div class="shipping-info">
                                                        <!-- <p class="shipping-day">3-Day Shipping</p> -->
                                                        <!-- <p class="for-today">Pree Pickup Today</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                        <% } %>
                        <div class="biolife-panigations-block">
                            <ul class="panigation-contain">
                                <li><span class="current-page">1</span></li>
                                <li><a href="#" class="link-page">2</a></li>
                                <li><a href="#" class="link-page">3</a></li>
                                <li><span class="sep">....</span></li>
                                <li><a href="#" class="link-page">20</a></li>
                                <li><a href="#" class="link-page next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
                <!-- Sidebar -->
                <aside id="sidebar" class="sidebar col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <div class="biolife-mobile-panels">
                        <span class="biolife-current-panel-title">Sidebar</span>
                        <a class="biolife-close-btn" href="#" data-object="open-mobile-filter">&times;</a>
                    </div>
                    <div class="sidebar-contain">
                        <div class="widget price-filter biolife-filter">
                            <h4 class="wgt-title">ລາຄາສິນຄ້າ</h4>
                            <div class="wgt-content">
                                <div class="frm-contain">
                                    <form action="#" name="price-filter" id="price-filter" method="get">
                                        <p class="f-item">
                                            <label for="pr-from">Kip</label>
                                            <input class="input-number" type="number" id="pr-from" value="" name="price-from">
                                        </p>
                                        <p class="f-item">
                                            <label for="pr-to">to Kip</label>
                                            <input class="input-number" type="number" id="pr-to" value="" name="price-from">
                                        </p>
                                        <p class="f-item"><button class="btn-submit" type="submit">go</button></p>
                                    </form>
                                </div>
                                <ul class="check-list bold single">
                                    <li class="check-list-item"><a href="#" class="check-link">kip0 - kip5000</a></li>
                                    <li class="check-list-item"><a href="#" class="check-link">kip5000 - kip10000</a></li>
                                    <li class="check-list-item"><a href="#" class="check-link">kip15000 - kip20000</a></li>
                                </ul>
                            </div>
                        </div>
                    
                        <div class="widget biolife-filter">
                            <h4 class="wgt-title">Recently Viewed</h4>
                            <div class="wgt-content">
                                <ul class="products">
                                    <li class="pr-item">
                                        <div class="contain-product style-widget">
                                            <div class="product-thumb">
                                                <a href="#" class="link-to-product" tabindex="0">
                                                    <img src="/frontend/assets/images/products/p-13.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <b class="categories">Fresh Fruit</b>
                                                <h4 class="product-title"><a href="#" class="pr-name" tabindex="0">National Fresh Fruit</a></h4>
                                                <div class="price">
                                                    <ins><span class="price-amount"><span class="currencySymbol">Kip </span>8500.00</span></ins>
                                                    <del><span class="price-amount"><span class="currencySymbol">Kip </span>9500.00</span></del>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="pr-item">
                                        <div class="contain-product style-widget">
                                            <div class="product-thumb">
                                                <a href="#" class="link-to-product" tabindex="0">
                                                    <img src="/frontend/assets/images/products/p-14.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <b class="categories">Fresh Fruit</b>
                                                <h4 class="product-title"><a href="#" class="pr-name" tabindex="0">National Fresh Fruit</a></h4>
                                                <div class="price">
                                                    <ins><span class="price-amount"><span class="currencySymbol">Kip </span>8500.00</span></ins>
                                                    <del><span class="price-amount"><span class="currencySymbol">Kip </span>9500.00</span></del>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="pr-item">
                                        <div class="contain-product style-widget">
                                            <div class="product-thumb">
                                                <a href="#" class="link-to-product" tabindex="0">
                                                    <img src="/frontend/assets/images/products/p-10.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <b class="categories">Fresh Fruit</b>
                                                <h4 class="product-title"><a href="#" class="pr-name" tabindex="0">National Fresh Fruit</a></h4>
                                                <div class="price">
                                                    <ins><span class="price-amount"><span class="currencySymbol">Kip </span>8500.00</span></ins>
                                                    <del><span class="price-amount"><span class="currencySymbol">Kip </span>9500.00</span></del>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <%- include('../layouts/Footer')%>
</body>

</html>