<!DOCTYPE html>
<html>
<%- include('../../partials/Header')%>
<body>
  <%- include('../../partials/Navbar')%>
  <%- include('../../partials/Sidebar')%>

	<div class="main-container">
		<div class="pd-ltr-20">
      				<!-- Form grid Start -->
				<div class="pd-20 card-box mb-10">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">ຟອມປ້ອນຂໍ້ມູນຕະຫຼາດ</h4>
						</div>
						<div class="pull-right">
							<a href="/market" class="btn btn-outline-primary btn-sm scroll-click">ກັບຄືນ</a>
						</div>
					</div>
					<form action="/market/add" method="POST">
						<div class="row">
              <div class="col-md-2 col-sm-12">
								<div class="form-group">
									<label>ລະຫັດ/Code*</label>
									<input type="text" name="code" id="code" class="form-control" placeholder="e.g SM-00XX..." required>
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>ຊື່ບ້ານ/Village*</label>
									<input type="text" name="village" id="village" class="form-control" placeholder="ຊື່ບ້ານ..." required>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="form-group">
									<label>ຕະຫຼາດ/Market*</label>
									<input type="text" name="market" id="market" class="form-control" placeholder="ຕະຫລາດ..." required>
								</div>
							</div>
              <div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>ຂໍ້ມູນຕິດຕໍ່/Contact*</label>
									<input type="text" name="contact" id="contact" class="form-control" placeholder="ຂໍ້ມູນຕິດຕໍ່..." required>
								</div>
							</div>
              <div class="col-md-12 col-sm-12">
								<div class="form-group">
									<label>ຂໍ້ມູນທີຢູ່/Address*</label>
									<input type="text" name="address" id="address" class="form-control" placeholder="ທີຢູ່ປະຈຸບັນ..." required>
								</div>
							</div>
              <div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>ເມືອງ/City*</label>
									<input type="text" name="city" id="city" class="form-control" placeholder="ເມືອງ..." required>
								</div>
							</div>
              <div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>ແຂວງ/Province*</label>
									<input type="text" name="province" id="province" class="form-control" placeholder="ແຂວງ..." required>
								</div>
							</div>
              <div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>ລະຫັດໄປສະນີ/Post Code:</label>
									<input type="text" name="postcode" id="postcode" class="form-control" placeholder="ລະຫັດໄປສະນີ..." required>
								</div>
							</div>
              <div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>ສະຖານະ/Status:</label>
									<select class="custom-select2 form-control" name="status" style="width: 100%; height: 35px;">
										<option value="active">Active</option>
										<option value="inactive">Inactive</option>
									</select>
								</div>
							</div>
						</div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
						</div>
					</form>
          <div class="collapse collapse-box" id="form-grid-form" >
						<div class="code-box">
							<div class="clearfix">
								<a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"  data-clipboard-target="#form-grid"><i class="fa fa-clipboard"></i> Copy Code</a>
								<a href="#form-grid-form" class="btn btn-primary btn-sm pull-right" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
							</div>
							<pre>
								<code class="xml copy-pre" id="form-grid">
								</code>
							</pre>
						</div>
					</div>
      <%- include('../../partials/Footer')%>
		</div>
	</div>
  <%- include('../../partials/Script') %>
</body>
</html>