
<!DOCTYPE html>
<html>
  <%- include('../../partials/Header')%>
<body>
	
  <%- include('../../partials/Navbar')%>
  <%- include('../../partials/Sidebar')%>

	<div class="mobile-menu-overlay"></div>
	<div class="main-container">
		<div class="pd-ltr-20">
			<div class="pd-10 card-box mb-10">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="text-blue h4">ສີນຄ້າທີຂາຍອອກແລ້ວ/Sale Items</h4>
					</div>
					<div class="pull-right">
						<!-- <a href="/member/add" class="btn btn-outline-primary btn-sm scroll-click">ເພີ່ມໃຫມ່</a> -->
					</div>
				</div>
			</div>
      <% if(typeof items !== 'undefined'){ %>
        <div class="pd-5 card-box mb-30">
					<table class="data-table table nowrap">
						<thead>
							<tr>
                <th>Code</th>
								<th>Product</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Anount</th>
                <th>Date</th>
								<th>Seller</th>
							</tr>
						</thead>
						<tbody>
              <% items.forEach(function(item) { %>
                <tr>
									<td>
										<h5 class="font-16"><%= item.vegetable.code %></h5>
									</td>
									<td><%= item.vegetable.name %></td>
									<td><%= parseFloat(item.price).toFixed(2) %> kip</td>
									<td><%= item.qty %></td>
									<td><%= item.price * item.qty  %> kip</td>
                  <td><%= item.createdAt.toLocaleDateString() %></td>
									<td><%= item.user.username %></td>
								</tr>
              <% }); %>
						</tbody>
					</table>
				</div>
        <% } else { %>
          <div class="pd-5 card-box mb-30">
            <table class="data-table table nowrap">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Anount</th>
                  <th>Seller</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>
                      <h5 class="font-16"></h5>
                    </td>
                    <td>Empty...</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="dropdown">
                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                          <i class="dw dw-more"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                          <a class="dropdown-item" href="/supplier/view/"><i class="dw dw-eye"></i> View</a>
                          <a class="dropdown-item" href="/supplier/edit/"><i class="dw dw-edit2"></i> Edit</a>
                          <a class="dropdown-item" href="/supplier/delete/"><i class="dw dw-delete-3"></i> Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        <% } %>
      <%- include('../../partials/Footer')%>
		</div>
	</div>
	<%- include('../../partials/Script') %>
</body>
</html>